%section{ 'data-background' => 'images/Yoda-Be-or-Not-Be-Agile-Meme-Featured.jpg' }
  %h1 
  %aside.notes
    Welcome to the wonderfull world of Agile Testing!.


%section
  %h2 Agenda
  %ul 
    %li What is Agile?
    %li What We've Learned at the STP Conference 
    %li What is currently going on at OTPP
    %li What we could be doing in the future
    %li Questions?
    %li ...
  %aside.notes
    We will begin by 


%section
  %section
    %h1 What is Agile?
    %img{ 'src' => 'images/53618465.jpg'}
    %aside.notes


  %section{ 'data-background' => 'images/confused.gif'}
    %aside.notes
      %ul
        %li 
        %li 
        %li 
        %li 

  %section
    %img{ 'src' => 'images/Agile-Development-Diagram.jpg' }
    %aside.notes
      %ul
        %li 
        %li 
        %li 

  %section
    %img{ 'src' => 'images/agile-manifesto.gif' }
    %aside.notes
      %ul
        %li 
        %li 
        %li 

  %section{ 'data-background' => 'images/agileprinciplesabbreviated.png' }
    %aside.notes
      %ul
        %li 
        %li 


%section
  %section
    %h1 What did we learn at STP 2015?
    %img{ 'src' => 'images/SanDiego.jpg', 'width' => '600px'}
    %aside.notes
      %ul
        %li 
        %li 
        %li 
        %li 

  %section
    %h1 The Three Wise Men!
    %img{ 'src' => 'images/Bob_Galen_-_2011_photo__trimmed.png', 'width' => '300px'}
    %img{ 'src' => 'images/0443bb1.jpg', 'width' => '300px'}
    %img{ 'src' => 'images/nUpb6oEN.jpeg', 'width' => '300px'}
    %aside.notes
      %ul
        %li there were several challenges that we had to consider 
        %li devices
        %li the phone being a more personal thing than a computer
        %li the testing process would be more technical

  %section
    %img{ 'src' => 'images/SnipImage.JPG'}
    %aside.notes
      %ul
        %li We chose to release iOS and Android apps
        %li For iOS even though there is only one manufacturer there is still a fragmentation to consider
        %li For Android we had to take a bit of a different approach (high end plus low end)

  %section
    %h1 3 Amigos!
    %img{ 'src' => 'images/threeamigos_2663603b.jpg'}
    %aside.notes
      %ul
        %li We also had to update our methodology
        %li There were plenty of ways we could approach the testing of the application
        %li It all depended 
        
  %section
    %img{ 'src' => 'images/scrum.jpg'}
    %aside.notes
      %ul
        %li the eco system is vast in mobile
        %li you can build hybrid, native, or a web app 
        %li depending on the app the we chose to build we would have to adjust our testing accordingly
        
  %section 
    %img{ 'src' => 'images/Documentation.jpg'}
    %aside.notes
      %ul
        %li Overall there are several challenges that each company faces
        %li And we had to face most of these as well and deal with them
        


%section
  %section
    %h1 What is going on @OTPP?
    %img{ 'src' => 'images/OTPP.png'}
    %aside.notes
      %ul
        %li Once we figured out what challenges we need to takle
        %li We set out to setup the environment 
        %li We had to choose tools, devices, methodologies
  
  %section
    %h2 The Agile Projects
    %img{ 'src' => 'images/Legacy-Software.jpg'}
    %img{ 'src' => 'images/WebSite.png', 'width' => '500px'}
    <br>
    %img{ 'src' => 'images/Ice_computer_desk.jpg', 'width' => '350px'}
    %img{ 'src' => 'images/babysteps.png', 'width' => '350px'}

    %aside.notes
      %ul
        
  %section
    %h2 Agile Boards

    %img{ 'src' => 'images/NewWebBoard.png'}
    %aside.notes
      %ul
        
  %section
    %h2 Daily Standups!
    %img{ 'src' => 'images/standUp.jpg', 'width' => '500px'}
    %aside.notes
      %ul
        
  %section
    %img{ 'src' => 'images/automateDucky.jpg'}
    %aside.notes
      %ul
        
  %section
    %img{ 'src' => 'images/threeamigos_2663603b.jpg'}
    %aside.notes
      %ul
        %li and make the assumption that if the app works on those, it will work on everything in between

  %section
    %img{ 'src' => 'images/userStories.jpg'}
    %aside.notes
      %ul
        
  %section
    %img{ 'src' => 'images/hipchat.png'}
    %aside.notes
      %ul
        

%section
  %section{ 'data-background' => 'images/17qwg5v8qb25ajpg.jpg' }
    %aside.notes

        
  %section
    %img{ 'src' => 'images/keep-calm-and-consistent.png'}
    %aside.notes
      %ul  
  %section
    %img{ 'src' => 'images/discussion.png'}
    %aside.notes
      %ul
        
  %section
    %img{ 'src' => 'images/automated-testing-pyramid.png'}
    %aside.notes
      %ul
        
  %section 
    %img{ 'src' => 'images/screenShot.png'}
    %aside.notes
      %ul
        
%section
  %section
    %img{ 'src' => 'images/future.jpg'}
    %h3 Future of Mobile Testing at OTPP
    %aside.notes
      %ul
        %li So where do we go from here??
        
  %section
    %img{ 'src' => 'images/futureApp.png' }
    %aside.notes
      %ul
        %li If we continue developing apps in the future they will get more complicated
        %li We will have lots of components that will have to be tested
        %li And automation will be essential to make sure that we can tests things quickly
        
  %section
    %img{ 'src' => 'images/screenShot.png'}
    %aside.notes
      %ul
        %li The new website is a 5 year project and we will have to make sure it meets its mobile first objective
        %li We will leverage all the tools that we have used so far to ensure succesfull testing on the new website
        
  %section{ 'data-background' => 'images/security.gif'}
    %aside.notes
      %ul
        %li Mobile and Web security issues are in the news on a daily basis
        %li We will have to make sure that our connected apps, and our mobile sites are secure 
        %li We will also have to make sure that the member is informed regarding security issues
        
  %section
    %img{ 'src' => 'images/internetExplorer.jpg'}
    %aside.notes
      %ul
        %li More browser support 
        %li We have users that are using pcs/macs/tablets/phones
        %li Android/iOS/Windows/Linux/Mac
        %li We need to make sure that our website are working, and are displaying properly
        %li on any device that a user logs in on

  %section
    %img{ 'src' => 'images/sauceLabs.gif'}
    <br>
    %img{ 'src' => 'images/browsers.jpg'}
    %aside.notes
      %ul
        %li In order to have access to all browsers we need to use tools such as Sauce labs
        %li Allows us to test across multiple browsers, and multiple operating systems
        %li They will also have a future open of testing on real devices over the cloud
        
  %section
    %img{ 'src' => 'images/performance.jpg'}
    %aside.notes
      %ul
        %li Performance testing will also be very important
        %li Most users these days have very high expecations when it comes to web and applications
        %li We will have to introduce new tools and make sure that our users get the optimal performance experience
        
  %section
    %img{ 'src' => 'images/devices.jpg'}
    %aside.notes
      %ul
        %li By 2017 most people will have at least 5 devices that are connected to the internet
        %li Most of you in the room most likely have at least 2
        %li We will have to make sure that the experience is the same accross all devices
        
%section
  
  %section
    %h1 Fun Stuff
    %aside.notes
      Other learnings from San Diego
 
  %section
    %img{ 'src' => 'images/sanDiego1.gif' }
    %img{ 'src' => 'images/20150330_121236.jpg' }
    %aside.notes
      Do you have any questions?

  %section
    
    %aside.notes
      Do you have any questions?

  %section
    %h1
      Thanks!
    %img{ 'src' => 'images/panorama.jpg' }
    %aside.notes
      Thank you for listening!
