%section{ 'data-background' => 'images/Yoda-Be-or-Not-Be-Agile-Meme-Featured.jpg' }
  %h1 
  %aside.notes
    Welcome to the wonderfull world of Agile Testing!.


%section
  %h2 Agenda
  %ul 
    %li What is Agile?
    %li What We've Learned at the STP Conference 
    %li What is currently going on at OTPP
    %li What we could be doing in the future
    %li Questions?
    %li ...
  %aside.notes
    We will begin by 


%section
  %section
    %h1 What is Agile?
    %img{ 'src' => 'images/53618465.jpg'}
    %aside.notes
      %ul
        %li So what is Agile?
        %li Fast releases?
        %li No documentation?
        %li Automation?
        %li What do you guys think?


  %section{ 'data-background' => 'images/confused.gif'}
    %aside.notes
      %ul
        %li Are you confused?
        %li There are a lot of ways that people talk about agile

  %section
    %img{ 'src' => 'images/Agile-Development-Diagram.jpg' }
    %aside.notes
      %ul
        %li Agile software development is a group of software development methods in which requirements and solutions evolve through collaboration between self-organizing, cross-functional teams.
        %li 
        %li 

  %section
    %img{ 'src' => 'images/agile-manifesto.gif' }
    %aside.notes
      %ul
        %li 
        %li 
        %li 

  %section{ 'data-background' => 'images/agileprinciplesabbreviated.png' }
    %aside.notes
      %ul
        %li 
        %li 


%section
  %section
    %h1 What did we learn at STP 2015?
    %img{ 'src' => 'images/SanDiego.jpg', 'width' => '600px'}
    %aside.notes
      %ul
        %li 
        %li 
        %li 
        %li 

  %section
    %h1 The Three Wise Men!
    %img{ 'src' => 'images/Bob_Galen_-_2011_photo__trimmed.png', 'width' => '300px'}
    %img{ 'src' => 'images/0443bb1.jpg', 'width' => '300px'}
    %img{ 'src' => 'images/nUpb6oEN.jpeg', 'width' => '300px'}
    %aside.notes
      %ul
        %li 
        %li 
        %li 
        %li 

  %section
    %img{ 'src' => 'images/SnipImage.JPG'}
    %aside.notes
      %ul
        %li 
        %li 
        %li 

  %section
    %h1 3 Amigos!
    %img{ 'src' => 'images/threeamigos_2663603b.jpg'}
    %aside.notes
      %ul
        %li 
        %li 
        %li 
        
  %section
    %img{ 'src' => 'images/scrum.jpg'}
    %aside.notes
      %ul
        %li 
        %li 
        %li 
        
  %section 
    %img{ 'src' => 'images/Documentation.jpg'}
    %aside.notes
      %ul
        %li 
        %li 
        


%section
  %section
    %h1 What is going on @OTPP?
    %img{ 'src' => 'images/OTPP.png'}
    %aside.notes
      %ul
        %li 
        %li 
        %li 
  
  %section
    %h2 The Agile Projects
    %img{ 'src' => 'images/Legacy-Software.jpg'}
    %img{ 'src' => 'images/WebSite.png', 'width' => '500px'}
    <br>
    %img{ 'src' => 'images/Ice_computer_desk.jpg', 'width' => '350px'}
    %img{ 'src' => 'images/babysteps.png', 'width' => '350px'}

    %aside.notes
      %ul
        
  %section
    %h2 Agile Boards

    %img{ 'src' => 'images/NewWebBoard.png'}
    %aside.notes
      %ul
        
  %section
    %h2 Daily Standups!
    %img{ 'src' => 'images/standUp.jpg', 'width' => '500px'}
    %aside.notes
      %ul
        
  %section
    %img{ 'src' => 'images/automateDucky.jpg'}
    %aside.notes
      %ul
        
  %section
    %img{ 'src' => 'images/threeamigos_2663603b.jpg'}
    %aside.notes
      %ul
        %li 

  %section
    %img{ 'src' => 'images/userStories.jpg'}
    %aside.notes
      %ul
        
  %section
    %img{ 'src' => 'images/hipchat.png'}
    %aside.notes
      %ul
        

%section
  %section{ 'data-background' => 'images/17qwg5v8qb25ajpg.jpg' }
    %aside.notes

        
  %section
    %img{ 'src' => 'images/keep-calm-and-consistent.png'}
    %aside.notes
      %ul  
  %section
    %img{ 'src' => 'images/discussion.png'}
    %aside.notes
      %ul
        
  %section
    %img{ 'src' => 'images/automated-testing-pyramid.png'}
    %aside.notes
      %ul
        
  %section
    %h2 Exploratory testing! 
    %img{ 'src' => 'images/Lego-Explorer-590x374.jpg'}
    %aside.notes
      %ul

  %section
    %img{ 'src' => 'images/jangbricks-q-a.jpg'}
                
%section
  
  %section
    %h1 Fun Stuff
    %aside.notes
      Other learnings from San Diego
 
  %section
    %h2 San Diego!
    %img{ 'src' => 'images/sanDiego1.gif', 'width' => "450px" }
    %img{ 'src' => 'images/20150330_121236.jpg', 'width' => "450px" }
    %aside.notes

  %section
    %video{ 'src' => 'images/20150330_152041.mp4', 'controls' => 'true', 'autoplay' => 'true'}   
      

  %section
    %img{ 'src' => 'images/beer.jpg', 'width' => "300px", 'height' => '300px'}
    %img{ 'src' => 'images/food1.jpg', 'width' => "300px", 'height' => '300px'}
    %img{ 'src' => 'images/food2.jpg', 'width' => "300px", 'height' => '300px'}

    
    %aside.notes
      Do you have any questions?

  %section
    %h1
      Thanks!
    %img{ 'src' => 'images/panorama.jpg' }
    %aside.notes
      Thank you for listening!
